<h1>Pages#landing</h1>

<table class="table">
 
	<thead>
 		<tr>
 			<td>Name</td>
 			<td>Age</td>
 			<td>Email</td>
 		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr>
 			<td> <%= student.name %> </td>
 			<td><%= student.age %> </td>
 			<td> <%= student.email %></td>
		</tr>
		<% end %>
	</tbody>
</table>
